<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Achudha Matrimony</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; padding: 20px;">
  <table style="max-width: 600px; margin: auto; background-color: #fff; padding: 20px; border-collapse: collapse; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    <tr>
        <td style="text-align: center; padding-bottom: 20px;">
            <img src="https://achudhamatrimony.in/img/mail_img/logo.png" alt="Achudha Matrimony Logo" style="max-width: 180px; height: auto; margin-bottom: 10px;">
            <h2 style="color: #007bff;">Signup Success</h2>
        </td>
      </tr>
      
    <tr>
      <td>
        <p>Dear {{ name }},</p>

        <p>Welcome to <strong>Achudha Matrimony</strong>, Find your perfect match for a beautiful journey together!</p>

        <p>
          <strong>ID:</strong> {{ customer_id }}<br>
          <strong>Name:</strong> {{ name }}<br>
          <strong>Mobile:</strong> {{ mobile }}<br>
          <strong>Email:</strong> {{ email }}
        </p>

        <p>
          At Achudha Matrimony, we believe that love is a journey best shared with the right partner. Our platform is designed to connect individuals looking for meaningful relationships that can lead to a lifelong commitment.
        </p>
        <p>
          Whether you're seeking a serious relationship or exploring the possibility of marriage, we provide a safe and supportive environment for you to meet like-minded individuals.
        </p>

        <p>
          Your privacy and security are our top priorities. We implement robust measures to protect your information and create a safe environment for you to meet new people.
        </p>

        <p>
          Our dedicated team is here to assist you throughout your journey. Whether you have questions or need guidance, we’re just a message away.
        </p>

        <p>Best regards,<br>
        <em>Achudha Matrimony Support</em></p>

        <hr style="border: none; border-top: 1px solid #ddd; margin: 20px 0;">

        <p style="font-size: 14px;">
          <strong>Achudha Matrimony</strong><br>
          📞 +91 6383856998<br>
          🌐 <a href="https://achudhamatrimony.in">achudhamatrimony.in</a><br>
          📧 help@achudhamatrimony.in<br>
          🏠 No.24, Kannaki Street, Selvaganapathy Nagar, Poonamallee, Chennai - 600056, Tamilnadu
        </p>
      </td>
    </tr>
  </table>
</body>
</html>

